.GameSlot {
  width: 10%;
  padding-top: 10%;
  border: 1px solid #333;
  position: relative;
  cursor: pointer;
}

.GameSlot:hover,
.GameSlot:active {
  background-color: lightblue;
}

.selected {
  background-color: lightgreen;
}

.checking {
  background-color: lightyellow;
}

.startingPosition {
  position: absolute;
  top: 15%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.guess {
  position: absolute;
  z-index: 500;
  top: 15%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: blue;
}

.marginRight {
  margin-right: 2%;
}

.marginBottom {
  margin-bottom: 2%;
}
